* {
   font-family: Georgia, 'Times New Roman', Times, serif;
   padding: 0;
   margin: 0;
   text-align: center;
   box-sizing: border-box;
}

body {
   background: url(./img/background.jpg) no-repeat center center fixed;
   background-size: cover;
   background-position: center center;
}

/* Content */

.content {
  display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   height: 100vh;
}

/* Header */

.header {
   background-color: rgba(0, 0, 0, 0.9);
   padding: 1.25rem;
   width: 100%;
   height: 1rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.restaurantName {
   font-size: 25px;
   color: white;
   background-color: transparent;
   border: none;
   cursor: pointer;
}

.btnDiv {
   display: flex;
   justify-content: space-evenly;
   gap: .1rem;
   width: 20rem;
}

.button {
   cursor: pointer;
   width: 5rem;
   background-color: transparent;
   border: none;
   font-size: 1rem;
   color: white;
}

.button:hover {
   text-decoration: underline;
   text-underline-offset: 0.25rem;
}

/* Main */

#main {
   width: 100%;
   margin: 6rem 0 6rem 0;
}

/* Home Page */

.home {
   background-color: transparent;
}

.home-name {
   font-size: 100px;
   color: white;
   background-color: transparent;
}

/* Menu Page */

.menu {
   background-color: rgba(250, 235, 215, 0.9);
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   width: 70%;
   margin: auto;
   border: 2px solid black;
}

.menu-header {
   margin: 2rem 0 0 0;
   padding: 0.5rem;
   width: 90%;
   border: 5px solid black;
}

.menu-item-div {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   height: 18rem;
   width: 100%;
}

.menu-item-div > img {
   height: 15rem;
   width: 18rem;
}

.food-info-div {
   display: flex;
   flex-direction: column;
   gap: 0.5rem;
   width: 40%;
}

.menu-divider {
   border: 1px solid black;
   width: 80%;
}

/* About Us Page */

.about-us {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 50%;
   margin: auto;
   gap: 3rem;
}

.about-us-divs {
   background-color: rgba(250, 235, 215, 0.9);
   border: 2px solid black;
   width: 100%;
   padding: 1rem;
}

.about-us-headers {
   text-decoration: underline;
   text-underline-offset: 0.25rem;
   width: 90%;
   padding: 0.5rem;
   margin: auto;
}

.mission-text {
   padding: 1rem;
}

.visit-location, .visit-address, .visit-hours {
   padding: 0.5rem;
}

.visit-hours-header {
   margin-top: 1rem;
}

.contact-form {
   display: grid;
   justify-content: center; 
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 6fr;
   width: 70%;
   gap: .5rem;
   padding: 1rem;
   margin: auto;
}

.contact-form-text {
   grid-area: 2 / 1 / 3 / 3;
}

.contact-form-submit {
   width: 4rem;
   height: 1.5rem;
   cursor: pointer;
}

/* Footer */

.footer {
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: rgba(0, 0, 0, 0.9);
   height: 1.5rem;
   width: 100%;
   padding: 1.25rem;
}

.photo-credit {
   color: white;
   text-decoration: none;
}

.github-div {
   display: flex;
   color: white;
   gap: 0.25rem;
}

.githubIcon {
   height: 1rem;
   width: 1rem;
}
